<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aba.app">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_clean_mvvm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_clean_mvvm"
        android:supportsRtl="true"
        android:name=".main.MainApp"
        android:theme="@style/AppTheme">
        <activity android:name="com.aba.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.aba.search.presentation.MainNavigationActivity" />
    </application>

</manifest>